<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Registration</h1>
    <form method="post">
        <label for="firstName">First name</label><br>
        <input type="text" id="firstName" name="firstName"><br>
        <label for="lastName">Last name</label><br>
        <input type="text" id="lastName" name="lastName"><br>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="phoneNumber">Phone number</label><br>
        <input type="text" id="phoneNumber" name="phoneNumber"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br>
        <label>Role</label><br>
        <input type="radio" id="client" name="role" value="client">
        <label for="client">Client</label><br>
        <input type="radio" id="courier" name="role" value="courier">
        <label for="courier">Courier</label><br>
        <label>Transport type</label>
        <input type="radio" id="foot" name="transport" value="foot">
        <label for="foot">Foot</label>
        <input type="radio" id="car" name="transport" value="car">
        <label for="car">Car</label>
        <input type="submit"><br>
    </form>
</body>
</html>