<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Routing</h1>
  <form method="post">
    <label for="initialAddress">Initial Address</label><br/>
    <input type="text" id="initialAddress" name="initialAddress"><br/>
    <label for="destinationAddress">Destination Address</label><br/>
    <input type="text" id="destinationAddress" name="destinationAddress"><br/>
    <input type="submit" id="submitButton" value="Submit">
  </form>
</body>
</html>